.App {
  font-family: sans-serif;
  text-align: center;
}

button {
  padding: 0.5rem;
  margin: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
}

.non-bullet {
  list-style: none;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 0.5rem;
  margin: auto;
  width: 30%;
}

.card:hover {
  box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.2);
}
